<div ng-controller="ShellCtrl as shellCtrl" ng class="main-shell">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex="10"></span>
      <h2>
        <img src="../../assets/images/workscape2-white.png" style="height:30px">
      </h2>
      <span flex=""></span>
      
      <md-menu md-position-mode="target-left bottom" >
        <md-button ng-click="$mdMenu.open($event);mixPanelFactory.track('Main:Menu')" layout="row" style="color:white" layout-align="center center" md-ink-ripple="false">
          <span>{{shellCtrl.first_name}}&nbsp;</span>
          <md-icon ng-hide="shellCtrl.user_image" class="ws-avatar" md-svg-src="/assets/icons/user-icon.svg" style="color:white; fill:white"></md-icon>
          <img ng-show="shellCtrl.user_image" class="ws-avatar" ng-src="{{shellCtrl.user_image}}">
          <md-icon md-svg-icon="hardware:keyboard_arrow_down" style="color:white; fill:white"></md-icon>
        </md-button> 
        <md-menu-content width="3" >
          <md-menu-item ng-if="shellCtrl.is_admin">
            <md-button ng-click="shellCtrl.openAdminConsole()">
                <div layout="row" flex>
                  <md-icon md-menu-align-target md-svg-src="/assets/icons/admin.svg" style="margin: auto 3px;"></md-icon>
                  <p flex>&nbsp;Admin Console</p>
                </div>
            </md-button>
          </md-menu-item>
<!--
          <md-menu-item>
            <md-button>
                <div layout="row" flex>
                  <md-icon md-menu-align-target md-svg-src="/assets/icons/settings.svg" style="margin: auto 3px;"></md-icon>
                  <p flex>&nbsp;Settings</p>
                </div>
            </md-button>
          </md-menu-item>
-->
<!--          <md-divider></md-divider>-->
          <md-menu-item>
            <md-button ng-click="shellCtrl.logOut()">
                <div layout="row" flex>
                  <md-icon md-menu-align-target md-svg-icon="action:power_settings_new" style="margin: auto 3px;"></md-icon>
                  <p flex>&nbsp;Logout</p>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <span flex="10"></span>
    </div>
  </md-toolbar>
</div>