/**
 * App-wide Styles
 */

$ws-green: #7ec242;
$ws-alt-green: #a3cf66;
$ws-gray: #444444;
$ws-lighter-gray: lighten($ws-gray, 20%);
$ws-light-gray: lighten($ws-gray, 50%);
$ws-text-light: rgb(161,161,161);
$ws-even-lighter-gray: lighten($ws-light-gray, 18%);  
$ws-red: #e84a42;

body, button, select, html, textarea, input{
  font-family: 'Montserrat', 'Roboto';
  color: $ws-gray;
  background-color: white;
}

md-content {
  background-color: white;
}

.md-subheader {
  background-color: white;
}

.no-js {
  overflow:hidden !important;
}

.ws-primary-fill {
  fill:$ws-green;
}

.ws-dialog-error-text {
  color: $ws-red;
  font-size: 12px;
  text-align: center;
}

.ws-close-md-icon {
  fill: $ws-lighter-gray !important;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
}

.ws-bordered-select {
  border-radius: 3px;
  border: 1px solid lighten($ws-gray, 50%);  
  
  & .md-select-value.md-select-placeholder {
    padding-left: 8px;
  }
  
  & .md-select-value {
    padding-left: 8px;
    border-bottom-color: transparent;
  }
}

.md-datepicker-input {
  font-size: 16px;
}

.md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: $ws-green;
}

.ws-button {
  border-radius: 40px;
  color: white !important;  
  font-size: 12px;
  font-weight: 600;
  text-transform: none !important;
  
  &.small-button {
    height: 24px;
    min-height: 24px;
    line-height: 24px;
    min-width: 0px;
    width: 70px;
    padding: 0px;
  }
  
  &.invert {
    color: $ws-green !important;
    border: 2px solid $ws-green;
  }
  
  &.invert-white {
    border: 2px solid white;
  }
  
  &.gray {
    background-color: $ws-light-gray !important;
  }
}

.ws-button-icon {
  padding-right: 12px;
}


.md-select-value .md-select-icon {
  color: $ws-green;
}



.md-button.md-accent.md-fab:not([disabled]) md-icon {
  color: white;
}

.ws-loading-layer {
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
}

.ws-avatar {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

// Component styles are injected through grunt
// injector
@import 'login/login.scss';
@import 'main/main.scss';
@import 'wsCalendar/wsCalendar.scss';
// endinjector
