<md-dialog style="width:400px" >
  <md-toolbar>
    <div class="md-toolbar-tools ws-dialog-toolbar">
      <md-icon md-svg-src="../../assets/icons/calendar.svg"></md-icon>
      <h2 flex>&nbsp; {{createMeetingCtrl.is_edit ? 'Editing Meeting' : 'Book ' + createMeetingCtrl.event.room.name}}</h2>
      <md-button class="md-icon-button" ng-click="createMeetingCtrl.close()"><md-icon class="ws-close-md-icon" md-svg-src="../../assets/icons/ex.svg"></md-icon></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-margin>
    <form>

      <md-input-container class="md-block">
        <label>Meeting Name</label>
        <input md-autofocus required ng-model="createMeetingCtrl.event.summary">
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Date</label>
        <input disabled ng-model="createMeetingCtrl.dateAsString">
      </md-input-container>
      
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Start Time</label>
          <md-select ng-model="createMeetingCtrl.start_time">
            <md-option ng-value="start_time" ng-repeat="start_time in createMeetingCtrl.available_start_times">{{start_time}}</md-option>
          </md-select>
        </md-input-container>
         <md-input-container class="md-block" flex>
          <label>Duration</label>
          <md-select ng-model="createMeetingCtrl.duration">
            <md-option ng-value="duration" ng-repeat="duration in createMeetingCtrl.available_duration">{{duration.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    
    </form>
    
    <md-dialog-actions layout="column" layout-align="center center">
      
      <div layout="row" ng-show="createMeetingCtrl.state == createMeetingCtrl.STATE_ERROR">
        <p class="ws-dialog-error-text">{{createMeetingCtrl.error_msg}}</p>
      </div>
      
      <div layout="row" layout-align="center center" layout-margin ng-show="createMeetingCtrl.state <= createMeetingCtrl.STATE_BOOKING">
        <md-button ng-disabled="createMeetingCtrl.state == createMeetingCtrl.STATE_BOOKING" ng-click="createMeetingCtrl.saveChanges()" class="md-raised md-primary ws-button" style="padding: 0px 20px">{{createMeetingCtrl.is_edit ? 'Save Changes' : 'Create Meeting'}}&nbsp;</md-button>
        <md-progress-circular ng-show="createMeetingCtrl.state == createMeetingCtrl.STATE_BOOKING" md-diameter="20px" md-mode="indeterminate"></md-progress-circular>
      </div>
      
      <div ng-show="createMeetingCtrl.state == createMeetingCtrl.STATE_BOOKED" layout="row" layout-align="center center" layout-margin>
        <md-button style="padding: 0px 20px" class="md-raised md-accent ws-button">Enjoy your meeting!&nbsp;</md-button>
        <md-icon class="ws-primary-fill" md-svg-src="../../assets/icons/checkmark.svg"></md-icon>
      </div>
      
      
    </md-dialog-actions>
    
  </md-dialog-content>
</md-dialog>

