<div class="ws-event-info" layout="column" flex layout-align="center start">
  <div layout="row">{{ctrl.time_range}}</div>
  <div layout="row">{{ctrl.summary}}</div>
  <div layout="row">Reserved by {{ctrl.full_name}}</div>
</div>