<md-dialog class="ws-loading-layer">
  <div layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="75px"></md-progress-circular>
  </div>
</md-dialog>