<div class="ws-room-info" layout="column"  layout-padding>
  <div layout="row" layout-align="start start" flex>
    <md-icon md-svg-icon="action:star_rate"></md-icon>Amenities
    <span flex></span>
  </div>
  <div ng-show="ctrl.amenities.length > 0" layout="column">
    <span ng-repeat="amenity in ctrl.amenities">{{amenity.name}}</span>
  </div>
  <div ng-hide="ctrl.amenities.length > 0" layout="column">
    <span>None</span>
  </div>
</div>