$ws-room-header-height: 100px;
$ws-footer-height: 50px;

.ws-text {
  color: $ws-text-light;
}

.ws-room-header-container {
  min-height: $ws-room-header-height;
  height: $ws-room-header-height;
}

.ws-footer-container {
  min-height: 60px;
  height: 60px;
}

.ws-room-header {
  border: 1px solid $ws-green;
  width: 200px;
  min-width: 200px;
  font-weight: 500;
  
  > .md-subheader {
    font-size: 15px;
  }
  
  md-icon {
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    fill: $ws-green;
  }
}

.ws-history-overlay {
  z-index: 10;
  position: absolute;
  background-color: rgba($ws-light-gray, .3);
  border-bottom: 2px solid rgba($ws-red, .5);
}

.ws-room-more-info-panel {
  background: rgb(250,250,250);
  border-right: 1px solid $ws-green;
  border-left: 1px solid $ws-green;
  border-bottom: 1px solid $ws-green;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 198px;
}

.ws-room-event-info-panel {
  background-color: rgba(0,0,0,.75);
  line-height: 16px;
  width: 180px;
  outline: none;  
  color: white;
  font-weight: 800;
//  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ws-time-container {
  min-width: 90px;
  max-width: 90px;
  width: 90px;
  
  &.ws-time-button-container {
    min-height: 100px;
    height: 100px;
  }
}



.ws-room-more-info-panel {
  background: rgb(250,250,250);
  border-right: 1px solid $ws-green;
  border-left: 1px solid $ws-green;
  border-bottom: 1px solid $ws-green;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 198px;
}

.heart:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition:all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.info {
  outline: none;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
    cursor: pointer;
    outline: none;
  }
}

.ws-room-info {
  z-index: 20;
  font-size: 12px;
  
  md-icon {
    fill: $ws-gray;
  }
}

.ws-calendar-container {
  overflow: hidden;  
//  border-bottom: 1px solid $ws-light-gray; 
}

.ws-calendar {
  width: 200px;
  min-width: 200px;
  border-top: 1px solid $ws-light-gray;
}

.ws-timeslot-container {
  outline: none;
  font-size:11px;
  min-height: 15px;
  height: 15px;
  border-bottom: 1px solid $ws-even-lighter-gray;
  border-left: 1px solid $ws-light-gray;  
  border-right: 1px solid $ws-light-gray;  
  text-align: center;
  cursor: pointer;

  &:nth-child(4n) {
    border-bottom: 1px solid $ws-light-gray;  
  }

}

.ws-timeslot {
  transition: background-color 0.3s ease;
  position: absolute;
  line-height: 30px;
  width: 180px;
  outline: none;  
  color: white;
  font-weight: 800;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  margin: 0px 9px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ws-timeslot-selected {
  @extend .ws-timeslot;
  background-color: $ws-alt-green;
  border-bottom: $ws-alt-green;
}

.ws-timeslot-booked-not-organizer {
  @extend .ws-timeslot;
  cursor: default;
  background: repeating-linear-gradient(
    -45deg,
    rgba($ws-gray, .4),
    rgba($ws-gray, .4) 10px,
    rgba($ws-gray, .34) 10px,
    rgba($ws-gray, .34) 20px
  )
}

.ws-timeslot-booked-organizer {
  @extend .ws-timeslot;
  background-color: $ws-green;
  border-bottom: $ws-green;
  
  &:hover {
    background-color: $ws-alt-green;
    border-bottom: $ws-alt-green;
  }
}

.ws-timeofday {
  color: $ws-lighter-gray;
  padding-right: 20px;
  font-size:14px;
  min-height:64px;
  height:64px;
  text-align: right;
  font-weight: 800;
  
}

.ws-timeslot-hour {
  border-bottom: 1px solid black;  
}


md-toolbar:not(.md-menu-toolbar) {
  
  .ws-dialog-toolbar {
    color: $ws-green;
    background-color: white;
  }
  
  md-icon {
    color: $ws-green;
    fill: $ws-green;
  }
}

.ws-datepicker-button {
  font-size: 18px;
  font-weight: 600;
}

.ws-event-info {
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

md-tooltip.multiline{
  height: auto;
  line-height: 14px;
  padding: 10px;
  width: 160px;
}

.ws-lf-calendar-gradient {
    position: absolute;
    right: 0px;
    background-color: blue;
    height: 100%;
    width: 100px;
    background: red;
    background: -webkit-linear-gradient(left, red , yellow);
    background: -o-linear-gradient(right, red, yellow);
    background: -moz-linear-gradient(right, red, yellow);
    background: linear-gradient(to right, transparent , white);
}

.ws-layout-wrapper {
  overflow:hidden;
}

@mixin background-linear-gradient($direction) {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($direction, transparent , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($direction, transparent, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($direction, transparent, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to $direction, transparent , white); /* Standard syntax */
}

.ws-layout-button-wrapper {
  top: 0px; 
  bottom: 0px; 
  position: absolute;
  z-index: 15;

  
  &.left {
    @include background-linear-gradient(left);
  }
  
  &.right {
    @include background-linear-gradient(right);
    right: 0px;
  }
}

.ws-calendar-lr-button {  
  margin-top: $ws-room-header-height / 2;
  
  & md-icon {
    width: 16px; 
    height: 16px; 
    min-width: 16px; 
    min-height: 16px;
  }
}

.ws-footer-container {
  min-height: $ws-footer-height;
  max-height: $ws-footer-height;
  height: $ws-footer-height;
}
  