<div ng-include="'components/shell/shell.html'"></div>

<!-- MENU ITEMS -->
<md-subheader ng-cloak>
  <div layout="row">
    <span flex-offset="10">
      <h2>
        <md-button aria-label="Previous Day" ng-disabled="mainCtrl.previousDayDisabled()" class="md-icon-button" ng-click="mainCtrl.previousDay()"><md-icon class="md-primary" md-svg-icon="hardware:keyboard_arrow_left"></md-icon></md-button>
          <md-button class="ws-datepicker-button" ng-click="mainCtrl.showDatePicker()">{{mainCtrl.selected_date.format('MMMM DD, YYYY')}}</md-button>
        <md-button aria-label="Next Day" class="md-icon-button" ng-click="mainCtrl.nextDay()"><md-icon class="md-primary" md-svg-icon="hardware:keyboard_arrow_right"></md-icon></md-button>
      </h2>
    </span>
    <span flex></span>
    <span layout-margin>
      <md-input-container>
        <label>Capacity</label>
        <md-select class="ws-bordered-select" ng-model="mainCtrl.capacity" md-on-open="mainCtrl.capacityClicked()">
          <md-option ng-value="">All</md-option>
          <md-option ng-repeat="item in mainCtrl.OPTIONS_CAPACITY" ng-value="item">
            {{item.title}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Floor</label>
        <md-select class="ws-bordered-select" ng-model="mainCtrl.floor" md-on-open="mainCtrl.floorClicked()">
          <md-option ng-value="">All</md-option>
          <md-option ng-repeat="item in mainCtrl.available_floors" ng-value="item.id">
            {{item.name}}
          </md-option>
        </md-select>
      </md-input-container>
        <md-input-container>
          <label>Amenities</label>
          <md-select multiple class="ws-bordered-select" ng-model="mainCtrl.amenities">
            <md-option value="" ng-click="mainCtrl.amenities = []">All</md-option>
            <md-option ng-repeat="item in mainCtrl.available_amenities" ng-value="item.id" ng-click="mainCtrl.removeAllFromAmenityFilter()">
              {{item.name}}
            </md-option>
          </md-select>
      </md-input-container>
      
      <md-button aria-label="Filter Rooms" ng-click="mainCtrl.applyFilters()" class="md-raised md-primary ws-button">&nbsp;Filter&nbsp;</md-button>
      <md-button aria-label="Clear Filter" ng-click="mainCtrl.clearFilters()" class="md-raised ws-button gray ">&nbsp;Clear&nbsp;</md-button>
    </span>
    <span flex="10"></span>
  </div>
  <span flex=""></span>
</md-subheader>

<!-- MAIN VIEW -->
<div ng-hide="mainCtrl.available_rooms.length == 0"  layout="row" ng-cloak flex-offset="5"> 
<!--

-->
  <div layout="column">
    
    <!-- UP BUTTON CONTAINER -->
    <div layout="column" class="ws-time-container ws-time-button-container" layout-align="end end">
      <md-button aria-label="Earlier Times" ng-show="mainCtrl.scroll_y_position > 0" class="md-raised md-primary ws-button small-button" ng-click="mainCtrl.scrollVertical(true)">Earlier</md-button>
    </div>
    
    <md-content msd-wheel="mainCtrl.mouseScroll($event, $delta, $deltaX, $deltaY)" style="overflow:hidden" id="ws-time-container" flex  layout="column" class="ws-time-container">
      <div id="div-12am" layout="column" class="ws-timeofday">12am</div>
      <div id="div-1am" layout="column" class="ws-timeofday">1am</div>
      <div id="div-2am" layout="column" class="ws-timeofday">2am</div>
      <div id="div-3am" layout="column" class="ws-timeofday">3am</div>
      <div id="div-4am" layout="column" class="ws-timeofday">4am</div>
      <div id="div-5am" layout="column" class="ws-timeofday">5am</div>
      <div id="div-6am" layout="column" class="ws-timeofday">6am</div>
      <div id="div-7am" layout="column" class="ws-timeofday">7am</div>
      <div id="div-8am" layout="column" class="ws-timeofday">8am</div>
      <div id="div-9am" layout="column" class="ws-timeofday">9am</div>
      <div id="div-10am" layout="column" class="ws-timeofday">10am</div>
      <div id="div-11am" layout="column" class="ws-timeofday">11am</div>
      <div id="div-12pm" layout="column" class="ws-timeofday">12pm</div>
      <div id="div-1pm" layout="column" class="ws-timeofday">1pm</div>
      <div id="div-2pm" layout="column" class="ws-timeofday">2pm</div>
      <div id="div-3pm" layout="column" class="ws-timeofday">3pm</div>
      <div id="div-4pm" layout="column" class="ws-timeofday">4pm</div>
      <div id="div-5pm" layout="column" class="ws-timeofday">5pm</div>
      <div id="div-6pm" layout="column" class="ws-timeofday">6pm</div>
      <div id="div-7pm" layout="column" class="ws-timeofday">7pm</div>
      <div id="div-8pm" layout="column" class="ws-timeofday">8pm</div>
      <div id="div-9pm" layout="column" class="ws-timeofday">9pm</div>
      <div id="div-10pm" layout="column" class="ws-timeofday">10pm</div>
      <div id="div-11pm" layout="column" class="ws-timeofday">11pm</div>
    </md-content>
    
    <div layout="row" class="ws-time-container ws-footer-container" layout-padding layout-align="end start">
      <md-button aria-label="Later Times" ng-show="mainCtrl.show_scroll_down" class="md-raised md-primary ws-button small-button" ng-click="mainCtrl.scrollVertical(false)">Later</md-button>
    </div>
  </div>
  
  <div layout="column" flex>
  <!-- HEADER LAYOUT -->
    <md-content layout="column" class="ws-layout-wrapper">
      <md-content style="overflow:hidden" layout="row" id="ws-rooms-header-container" class="ws-room-header-container">
        <div class="ws-room-header ws-room-{{room.id}}" layout="column" ng-repeat="room in mainCtrl.available_rooms">
          <div layout="row" flex="50">
            <md-truncate flex="80" layout-margin layout-align="center start">{{room.name}}</md-truncate>
            <div class="ws-room-actions" layout="column" flex="20"  style="margin-top:12px">
<!--
              <div layout="column">
                <md-icon ng-click="mainCtrl.favouriteClicked()" class="heart" md-svg-src="/assets/icons/favourite-outline.svg" style="padding-bottom: 6px;">
                  <md-tooltip md-direction="top">Favourite</md-tooltip>
                </md-icon>
              </div>
-->
              <div layout="column" layout-align="center start">
                <md-icon class="info" ng-click="mainCtrl.showMoreInfo($event, room)"  md-svg-src="/assets/icons/slim_info.svg"></md-icon>
              </div>
            </div>
          </div>
          <div class="ws-room-info" layout="row" layout-padding flex="50">
            <span><md-icon md-svg-icon="social:person"></md-icon>{{room.capacity}}</span>
            <span><md-icon md-svg-icon="communication:location_on"></md-icon>{{room.floor.floor_number}}F</span>
          </div>
        </div>

        <div layout="row" flex="10">

        </div>
      </md-content>
    
      <!-- CALENDAR LAYOUT -->
      <md-content msd-wheel="mainCtrl.mouseScroll($event, $delta, $deltaX, $deltaY)" style="overflow:hidden" id="calendar-layout" class="ws-calendar-container" layout="row" >
        <span ng-style="mainCtrl.getHistoryStyle()" class="ws-history-overlay"></span>
        <div class="ws-calendar" layout="column" ng-repeat="room in mainCtrl.available_rooms">
          <div class="ws-timeslot-container" ng-repeat="time_slot in room.time_slots" >
            <div draggable="true" ng-mouseleave="mainCtrl.timeSlotOnLeave(room, time_slot, $index)" ng-mouseover="mainCtrl.timeSlotOnEnter(room, time_slot, $index)" ng-click="mainCtrl.timeSlotOnClick(room, time_slot, $event, $index)" ng-style="time_slot.css_style" ng-class="time_slot.css_class">&nbsp;{{time_slot.display}}
              <md-tooltip ng-if="time_slot.room_event" class="multiline" md-direction="top">
                {{mainCtrl.formatTimeRange(time_slot.room_event)}}<br/>
                {{time_slot.room_event.summary}}<br/>
                {{mainCtrl.formatOrganizerName(time_slot.room_event)}}</md-tooltip>
            </div>
          </div>
        </div>
      </md-content>
      
      <!-- Left and Right Buttons -->
      <div layout="column" ng-class="{'ws-layout-button-wrapper left' : mainCtrl.scroll_x_position > 0}" layout-align="center center">
        <md-button aria-label="Scroll Rooms List Right" ng-if="mainCtrl.scroll_x_position > 0" class="md-fab md-mini md-accent ws-calendar-lr-button" ng-click="mainCtrl.scrollHorizontal(true)">
          <md-icon md-svg-src="/assets/icons/arrows-left.svg"></md-icon>
        </md-button>
      </div>
      <div layout="column" ng-class="{'ws-layout-button-wrapper right' : mainCtrl.show_scroll_right}" layout-align="center center">
        <md-button aria-label="Scroll Rooms List Left" ng-if="mainCtrl.show_scroll_right" class="md-fab md-mini md-accent ws-calendar-lr-button" ng-click="mainCtrl.scrollHorizontal(false)">
          <md-icon md-svg-src="/assets/icons/arrows-right.svg"></md-icon>
        </md-button>
      </div>
    </md-content>
    <div layout="row" class="ws-footer-container">

    </div>
    
  </div>
  <div layout="column" layout-align="center center" flex="10">

  </div>

</div>
<div ng-show="mainCtrl.available_rooms.length == 0" layout="column"  flex layout-align="center center">
    <span class="ws-text">No results found.</span>
</div>
