.ws-login-main {
  background-image: url(/assets/images/wsback.jpg);
  background-size: cover;
}

.ws-card-workscape {
  background-color: $ws-green;
  color: white;
  margin: 0px;
  width: 325px;
  height: 325px;
  padding: 24px;

}

.ws-card-login {
  margin: 0px;
  width: 350px;
  height: 375px;
}

.ws-signin-title {
  padding-bottom: 32px;
  color: $ws-green;
  text-align: center;
}