<iframe width="100" height="100" ng-hide="true" ng-src="{{loginCtrl.o365LogoutUrl}}"></iframe>
<div class="ws-login-main" layout="row" layout-align="center center" ng-cloak layout-fill>
  <md-card layout="column" layout-align="start center" class="ws-card-workscape">
    <md-card-content layout="column">
      <img style="width:50%" src="/assets/images/workscape2-white.png">
      <br/>
      <br/>
      <span class="md-headline">Meeting Rooms<br/>Made Simple</span>  
      <br/>
      <br/>
      <md-button ng-click="loginCtrl.goToRegister()" class="ws-button invert-white" style="font-size: 12px">Not registered? Start a free trial</md-button>
      
    </md-card-content>
  </md-card>
  <md-card layout="column" layout-align="center center" class="ws-card-login">
    <md-card-content layout="column">
      <span class="md-headline ws-signin-title">Sign-in</span>  
      <md-button id="cs-google-signin" class="ws-button invert" ng-click="loginCtrl.googleLogin()"><md-icon class="ws-button-icon" md-svg-src="../../assets/icons/google_logo_48.svg"></md-icon>Sign-in with Google</md-button>
      <md-button ng-click="loginCtrl.o365Login()" class="ws-button invert" style="padding: 0px 20px;"><md-icon class="ws-button-icon" md-svg-src="../../assets/icons/office_365_logo.svg"></md-icon>Sign-in with Office 365</md-button>
    </md-card-content>
    <p class="ws-dialog-error-text">{{loginCtrl.message}}</p>
  </md-card>
</div>

